<script>
            var productsRecibidos = [];
            console.log('PRODUCTOS',productsRecibidos)
            {{products.push}}
            const socket = io.connect();
            socket.on('new_product', data => {
            console.log(data);
            });
</script>
<h1>Products</h1>
{{#if productsExist}}
    <table class='table'>
        <thead class='thead-dark'>
            <tr>
                <th scope='col'>ID</th>
                <th scope='col'>Nombre</th>
                <th scope='col'>Precio</th>
                <th scope='col'>Imagen</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    <th scope='row'>{{this.id}}</th>
                    <td>{{this.title}}</td>
                    <td>$ {{this.price}}</td>
                    <td><img src={{this.thumbnail}} alt="" border=1 height=48 width=48></img></th>
                </tr>

            {{/each}}

        </tbody>
    </table>

{{else}}
    <p>There are no products yet</p>
{{/if}}

 
<form action="/hbs/" method="get">
    <button type="submit" class='btn btn-primary'>Volver</button>
</form>